body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
    color: #666;
}


p {
    margin: 0 0 20px;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #1f4e9b;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

hr {
    height: 1px;
    background-color: rgb(196, 196, 196);
    border: none;
}

#lists ul li {
    padding: 1px;
}

#lists h2 {
    line-height: 1em;
}

#lists h3 {
    text-indent: 0em;
}

#lists p {
    padding: 0px 30px;
    text-indent: 0px;
}

.TheLast {
    padding-bottom: 1em;
}


.page-container {
    max-width: 900px;
    margin: 10px auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 6px 0;
}


footer p a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

footer p a:hover,
footer p a:focus {
    text-decoration: none;
    color: #176e61;
}

.littleicon {
    height: auto;
    width: 20px;
}


/*Custom*/

#Photo {
    float: left;
    padding: 2em 2em;
    border: 1px;
}

#Photo img {
    height: 260px;
    width: auto
}

#information {
    padding: 2em 2em;
}

#information p {
    margin: 0px 0px;
    padding: 0px 0em;
    text-indent: 0em;
}

#media {
    overflow: hidden;
}

.subTitle {
    font-size: 20px;
}


#mainInfo {
    margin: 20px;
    display: block;
}

#llxName {
    font-size: 30px;
    font-weight: bold;
}

#llxIcon {
    color: #666;
}

#cntContainer {
    text-align: center;
}

.PubGroupType {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.OnePubBox {
    /* margin-top: 20px; */
    margin-bottom: 10px;
}

.PubTitle {
    margin-bottom: 2px
}


.PubInfo {
    margin-bottom: 10px;
}

.PubAuthor {
    margin: 0px
}

.PubPress {
    margin: 0px;
}

.PubSrc {
    margin: 0px;
}


.clustrmapsClass {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
}

#highlight {
    color: rgb(219, 18, 18);
}

@media screen and (max-width: 720px) {
    #Photo {
        float: none;
    }
}